<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

  <appSettings>
    <add key="Ruta_Entrdas_BB" value="C:\Users\adria\Documents\Visual Studio 2017\Projects\ProyectoExcel\Entradas_BB"/>
    <add key="Ruta_Salidas_BB" value="C:\Users\adria\Documents\Visual Studio 2017\Projects\ProyectoExcel\Salidas_BB"/>
  </appSettings>
</configuration>